
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502854387491'); /* IE9*/
  src: url('iconfont.eot?t=1502854387491#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502854387491') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502854387491') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502854387491#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wxbbiaowang:before { content: "\e619"; }

.icon-wxbzhanghu:before { content: "\e61e"; }

.icon-wxbzhuye:before { content: "\e61f"; }

.icon-wxbsousuotuiguang:before { content: "\e620"; }

.icon-wxbdingwei:before { content: "\e624"; }

.icon-iconfontfuwushichang:before { content: "\e64d"; }

.icon-jisukuikuan:before { content: "\e657"; }

.icon-tigongfapiao:before { content: "\e661"; }

.icon-yunfeixian:before { content: "\e666"; }

.icon-zhifubaofukuan:before { content: "\e668"; }

.icon-zhiliangbz:before { content: "\e669"; }

.icon-7tianbaohuan:before { content: "\e66b"; }

.icon-7tiantuihuo:before { content: "\e66c"; }

.icon-15tianbaohuan:before { content: "\e66d"; }

.icon-24xiaoshifahuo:before { content: "\e66f"; }

.icon-caizhixian:before { content: "\e675"; }

.icon-fahuobz:before { content: "\e676"; }

.icon-aniukefu2:before { content: "\e67c"; }

.icon-pinicon:before { content: "\e67d"; }

.icon-huoqibaozhang:before { content: "\e67e"; }

.icon-quehuobipei01:before { content: "\e687"; }

.icon-15tianbaotui01:before { content: "\e688"; }

.icon-zhi:before { content: "\e68b"; }

.icon-all:before { content: "\e68d"; }

.icon-account:before { content: "\e6a3"; }

.icon-success:before { content: "\e6b3"; }

.icon-help:before { content: "\e6b6"; }

.icon-cry:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-minus:before { content: "\e6ba"; }

.icon-atm:before { content: "\e6bd"; }

.icon-attachment:before { content: "\e6bf"; }

.icon-phone:before { content: "\e6c2"; }

